<header class="sticky top-0 z-5 flex justify-content-end p-2">
    <div class="flex align-content-center justify-content-center h-3rem">
        <h2 class="m-0 mr-3 mt-1 h-1rem"> {{ currentUser.username }} </h2>
        <button pButton (click)="showEditUser()" class="p-button-text mr-3" icon="pi pi-cog"></button>
        <button pButton (click)="logout()" class="p-button-outlined" label="Cerrar sesion"
            icon="pi pi-power-off"></button>
    </div>
</header>

<section *ngIf="modalEdit" class="container-form">

    <div class="form relative md:w-8 p-6">   
        <form [formGroup]="editForm" autocomplete="off">
            <h2 class="text-left">Datos personales</h2>
            <button pButton type="button" (click)="close()" class="p-button-outlined mr-2 mt-2 absolute top-0 right-0"
                icon="pi pi-times"></button>

            <div class="md:flex">

                <!-- Nombre y apellido -->
                <div class="col-12 md:col-4 m-auto field">
                    <label class="block">Apellido y nombre</label>
                    <div class="p-inputgroup flex relative">
                        <input pInputText type="text" placeholder="Apellido y nombre" formControlName="name">
                        <em *ngIf="inputValid(editForm, 'name')" style="color: #00ff00"
                            class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                        </em>
                    </div>

                    <div class="h-1rem">
                        <small *ngIf="!inputValid(editForm, 'name')" class="text-center p-error block">
                            {{ nameErrorMsg }}
                        </small>
                    </div>
                </div>

                <!-- Nombre de usuario -->
                <div class="col-12 md:col-4 m-auto field">
                    <label class="block">Nombre de Usuario</label>
                    <div class="p-inputgroup flex relative">
                        <input pInputText type="text" placeholder="Nombre de Usuario" formControlName="username">
                        <em *ngIf="inputValid(editForm, 'username')" style="color: #00ff00"
                            class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                        </em>
                    </div>

                    <div class="h-1rem">
                        <small *ngIf="!inputValid(editForm, 'username')" class="text-center p-error block">
                            {{ userErrorMsg }}
                        </small>
                    </div>
                </div>

                <!-- Teléfono -->
                <div class="col-12 md:col-4 m-auto field">
                    <label class="block">Teléfono</label>
                    <div class="p-inputgroup flex relative">
                        <input pInputText type="text" placeholder="Teléfono" formControlName="phone">
                        <em *ngIf="inputValid(editForm, 'phone')" style="color: #00ff00"
                            class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                        </em>
                    </div>

                    <div class="h-1rem">
                        <small *ngIf="!inputValid(editForm, 'phone')" class="text-center p-error block">
                            {{ phoneErrorMsg }}
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-inputgroup flex align-items-center justify-content-end">
                <button pButton type="button" (click)="savePersonalData()" label="Guardar datos"></button>
            </div>
        </form>

        <hr class="line">

        <form [formGroup]="editFormPass" autocomplete="off">
            <h2 class="text-left">Seguridad</h2>
            <div class="md:flex">
                <!-- Contraseña actual -->
                <div *ngIf="!checkPass; else newPass" class="col-12 md:col-8 m-auto field flex flex-column">
                    <label class="block">Contraseña actual</label>
                    <div class="p-inputgroup flex relative">
                        <input pInputText type="password" placeholder="Contraseña actual" formControlName="password">
                    </div>
                    <div class="h-1rem">
                        <small *ngIf="wrongPass" class="text-center p-error block">
                            Contraseña incorrecta.
                        </small>
                    </div>
                    <button pButton (click)="confirmPass()" class="p-button-text h-3rem align-self-center">Confirmar</button>
                </div>

                <ng-template #newPass>
                    <!-- Nueva contraseña -->
                    <div class="col-12 md:col-4 m-auto field">
                        <label class="block">Nueva contraseña</label>
                        <div class="p-inputgroup flex relative">
                            <input pInputText type="password" placeholder="Nueva contraseña" formControlName="newPassword">
                            <em *ngIf="inputValid(editFormPass, 'newPassword')" style="color: #00ff00"
                                class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                            </em>
                        </div>
                        <div class="h-1rem">
                            <small 
                                *ngIf="!inputValid(editFormPass, 'newPassword') && editFormPass.get('newPassword')?.touched" 
                                class="text-center p-error block">
                                {{ passErrorMsg }}
                            </small>
                        </div>
                    </div>

                    <!-- Confirma nueva contraseña -->
                    <div class="col-12 md:col-4 m-auto field">
                        <label class="block">Repita la contraseña</label>
                        <div class="p-inputgroup flex relative">
                            <input pInputText type="password" placeholder="Repita la contraseña" formControlName="confirmNewPassword">
                            <em *ngIf="inputValid(editFormPass, 'confirmNewPassword')" style="color: #00ff00"
                                class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                            </em>
                        </div>
                        <div class="h-1rem">
                            <small 
                                *ngIf="!inputValid(editFormPass, 'confirmNewPassword') && editFormPass.get('confirmNewPassword')?.touched"
                                class="text-center p-error block">
                                Las contraseñas no coinsiden. 
                            </small>
                        </div>
                    </div>
                </ng-template>
            </div>

            <div class="p-inputgroup flex align-items-center justify-content-end">
                <button pButton type="button" (click)="savePassword()" label="Guardar contraseña"></button>
            </div>
        </form>
    </div>
</section>

<div *ngIf="success" class="swal__confirm">
    <div class="label__container scalein fadein">
        <h3>Cambios guardados con exito!</h3>
    </div>
</div>

<router-outlet></router-outlet>