<header class="sticky top-0 z-5 flex justify-content-end p-2">
    <div class="flex align-content-center justify-content-between h-3rem w-full">
        <h3 class="ml-0 mt-2 h-1rem">{{ routeUrl }}</h3>
        <div class="flex align-content-center justify-content-end h-3rem">
            <h2 class="mr-1 mt-1"> {{ nameUser }} </h2>
            <button pButton routerLink="/user" class="p-button-text mr-3" icon="pi pi-cog"></button>
            <button pButton (click)="logout()" class="p-button-outlined" label="Cerrar sesion"
            icon="pi pi-power-off"></button>
        </div>
    </div>
</header>