
<div class="flex flex-column justify-content-center h-screen">
    <h1 class="text-center title__logo">La Post!</h1>

    <h2 class="text-center">Ingresar</h2>

    <form (ngSubmit)="login()" [formGroup]="loginForm" autocomplete="off">

        <!-- Email -->
        <div class="col-12 md:col-4 m-auto">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><em class="pi pi-envelope"></em></span>
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Email"
                    formControlName="email">
            </div>
            <div class="h-1rem">
                <small 
                    *ngIf="inputInvalid('email')"
                    class="block text-center text-red-500 m-0"> 
                    Este mail no se encuentra registrado.
                </small>
            </div>     
        </div>

        <!-- Contraseña -->
        <div class="col-12 md:col-4 m-auto">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon"><em class="pi pi-lock"></em></span>
                <input 
                    pInputText
                    type="password" 
                    placeholder="Contraseña"
                    formControlName="password">
            </div>
            <div class="h-1rem">
                <small 
                    *ngIf="inputInvalid('password')"
                    class="block text-center text-red-500 m-0"> 
                    La contraseña es incorrecta.
                </small>
            </div>
        </div>

        <!-- Boton submit -->
        <div class="col-12 md:col-4 m-auto max-w-full">
            <div class="p-inputgroup flex align-items-center justify-content-center">
                <button
                    pButton
                    type="submit" 
                    label="Ingresar"></button>
            </div>
        </div>

        <!-- Ruta -->
        <div class="col-12 md:col-4 m-auto max-w-full">
            <div class="p-inputgroup flex align-items-center justify-content-center">
                <h4>¿No tenes una cuenta? <a routerLink="/auth/register">Crear</a></h4>
            </div>
        </div>

    </form>
</div>
