
<div class="flex-column align-items-center m-3">

    <h1 class="text-center">Lista de Posts</h1>
    
    
    <p-table [value]="post" responsiveLayout="scroll">

        <ng-template pTemplate="header">
                <tr>
                    <th id="1">ID</th>
                    <th id="2">Post</th>
                    <th id="3">Ver</th>
                </tr>
        </ng-template>

        <ng-template pTemplate="body" let-post>
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>
                    <a 
                        [routerLink]="['/post/', post.id]"
                        (click)="showDetails(post.id)">
                        Detalles...
                    </a>
                </td>
            </tr>
        </ng-template>

    </p-table>

</div>