
<div class="flex-column align-items-center m-3">

    <h1 class="text-center">Lista de Posts</h1>
    
    <p-table [value]="post" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" [responsive]="true"
    currentPageReportTemplate="{first} a {last} de {totalRecords} post" [rowsPerPageOptions]="[10,25,50]">

        <ng-template pTemplate="header">
                <tr>
                    <th id="1">ID</th>
                    <th id="2">Post</th>
                    <th id="3">Ver</th>
                </tr>
        </ng-template>

        <ng-template pTemplate="body" let-post>
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>
                    <a 
                        [routerLink]="['/post/', post.id]">
                        Detalles...
                    </a>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" styleClass="p-button-text"></p-button>
        </ng-template>

    </p-table>

</div>