
<p-panel header="Comentarios">

    <div *ngIf="currentUser.rol === 'admin'; else user">
        <p-panel
            *ngFor="let comment of commentsForAdmin" 
            header="{{ comment.title | titlecase }} {{ comment.date }}"
            [toggleable]="true"
            [collapsed]="true">
    
            <div>
                <p>{{ comment.date | dateBySeconds | date: 'YY-MM-dd h:mm a' }}</p>
                <p>{{ comment.body }}</p>
            </div>
            <div class="flex flex-column justify-content-end pr-5">
                <div class="img__container flex justify-content-end pr-5">
                    <img emptyImg [valueImg]="comment.author.photoUrl" [src]="comment.author.photoUrl" [alt]="comment.author.username">
                </div>
                <p class="flex justify-content-end pr-5">{{ comment.author.username | titlecase }}</p>
            </div>
            <div class="flex justify-content-end pr-5">
                <button *ngIf="comment.author.id === currentUser.id" (click)="openEditComment(comment.id!, comment.title, comment.body)" pButton pRipple type="button"
                    icon="pi pi-pencil" class="p-button-text"></button>
                <button *ngIf="comment.author.id === currentUser.id" (click)="deleteComment(comment.id!)" pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-text"></button>
                <button *ngIf="!comment.hide" (click)="hideComment(comment.id!, true)" pButton pRipple type="button" icon="pi pi-eye"
                    class="p-button-rounded p-button-text"></button>
                <button *ngIf="comment.hide" (click)="hideComment(comment.id!, false)" pButton pRipple type="button" icon="pi pi-eye-slash"
                    class="p-button-rounded p-button-text"></button>
            </div>
    
        </p-panel>
    </div>

    <ng-template #user>
        <p-panel 
            *ngFor="let comment of commentsForUser" 
            header="{{ comment.title | titlecase }}"
            [toggleable]="true"
            [collapsed]="true">

            <p>{{ comment.date | dateBySeconds | date: 'YY-MM-dd h:mm a' }}</p>
            <p>{{ comment.body }}</p>
            <div class="img__container">
                <img emptyImg [valueImg]="comment.author.photoUrl" [src]="comment.author.photoUrl" [alt]="comment.author.username" class="flex justify-content-end pr-5">
            </div>
            <p class="flex justify-content-end pr-5">{{ comment.author.username | titlecase }}</p>
            <div *ngIf="comment.author.id === currentUser.id" class="flex justify-content-end pr-5">
                <button (click)="openEditComment(comment.id!, comment.title, comment.body)" pButton pRipple type="button"
                    icon="pi pi-pencil" class="p-button-text"></button>
                <button (click)="deleteComment(comment.id!)" pButton pRipple type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-text"></button>
            </div>

        </p-panel>
    </ng-template>
    

    <section *ngIf="showCommentForm" class="scalein fadein">
        <form (ngSubmit)="saveComment()" [formGroup]="commentForm">

            <!-- Titulo del comentario -->
            <div class="col-12 md:col-6 m-auto field">
                <div class="p-inputgroup flex relative">
                    <input
                        pInputText 
                        type="text" 
                        placeholder="Titulo del comentario"
                        formControlName="title"> 
                </div>
                <div class="h-1rem">
                    <small *ngIf="inputInvalid('title')" class="text-center p-error block">
                        {{ titleErrorMsg }}
                    </small>        
                </div>    
            </div>

            <!-- Cuerpo del comentario -->
            <div class="col-12 md:col-6 m-auto field">
                <div class="p-inputgroup flex relative">
                    <textarea formControlName="body" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" placeholder="Deja aqui tu comentario..."></textarea>
                </div>
                <div class="h-1rem">
                    <small *ngIf="inputInvalid('body')" class="text-center p-error block">
                        {{ bodyErrorMsg }}
                    </small>        
                </div>    
            </div>

            <!-- Boton submit -->
            <div class="flex justify-content-center">
                <button 
                    *ngIf="!showBtnEdit"
                    pButton 
                    type="submit" 
                    label="Agregar comentario"
                    class="ml-5">
                </button>  

                <button 
                    *ngIf="showBtnEdit"
                    pButton 
                    type="button" 
                    label="Editar comentario"
                    class="ml-5"
                    (click)="editComment()">
                </button>                     
            </div>

        </form>
    </section>
</p-panel>