
<p-panel header="Comentarios">
    
    <div class="flex justify-content-end">
        <button 
            pButton 
            type="button" 
            [label]="labelButton"
            (click)="toggleCase()"
            [ngClass]="{
                'p-button-secondary': validationToggle === true,
                'p-button-primary': validationToggle !== true
            }">
        </button> 
    </div>

    <p-panel 
        *ngFor="let comment of comments" 
        header="{{ comment.name | alternCase:validationToggle }}"
        [toggleable]="true"
        [collapsed]="true">

        <p>{{ comment.body }}</p>
        <p class="flex justify-content-end pr-5">{{ comment.email | titlecase }}</p>
        <div *ngIf="comment.email === currentUser.email" class="flex justify-content-end pr-5">
            <button (click)="openEditComment(comment.id!, comment.name, comment.body)" pButton pRipple type="button" label="Editar" icon="pi pi-pencil" class="p-button-text"></button>
            <button (click)="deleteComment(comment.id!)" pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded p-button-text"></button>
        </div>

    </p-panel>

    <section class="scalein fadein">
        <form (ngSubmit)="saveComment()" [formGroup]="commentForm">

            <!-- Titulo del comentario -->
            <div class="col-12 md:col-6 m-auto field">
                <div class="p-inputgroup flex relative">
                    <input
                        pInputText 
                        type="text" 
                        placeholder="Titulo del comentario"
                        formControlName="name"> 
                </div>
                <div class="h-1rem">
                    <small *ngIf="inputInvalid('name')" class="text-center p-error block">
                        {{ nameErrorMsg }}
                    </small>        
                </div>    
            </div>

            <!-- Cuerpo del comentario -->
            <div class="col-12 md:col-6 m-auto field">
                <div class="p-inputgroup flex relative">
                    <textarea formControlName="body" [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" placeholder="Deja aqui tu comentario..."></textarea>
                </div>
                <div class="h-1rem">
                    <small *ngIf="inputInvalid('body')" class="text-center p-error block">
                        {{ bodyErrorMsg }}
                    </small>        
                </div>    
            </div>

            <!-- Boton submit -->
            <div class="flex justify-content-center">
                <button 
                    *ngIf="!showBtnEdit"
                    pButton 
                    type="submit" 
                    label="Agregar comentario"
                    class="ml-5">
                </button>  

                <button 
                    *ngIf="showBtnEdit"
                    pButton 
                    type="button" 
                    label="Editar comentario"
                    class="ml-5"
                    (click)="editComment()">
                </button>                     
            </div>

        </form>
    </section>
</p-panel>