
.container-form {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.698);
    width: 100%;
    height: 100%;

    .form {
        background: #25364d;
        width: 70%;
        margin: 2rem auto;
        border-radius: 8px;
    }
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {   
    animation: custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes custom-progress-spinner-color {
    0% {
        stroke: #1b9a1b;
    }
    40% {
        stroke: #178217;
    }
    66% {
        stroke: #157715;
    }
    90% {
        stroke: #136c13;
    }
}

