
<p-panel header="Comentarios">
    
    <p-panel *ngFor="let comentario of comentarios" 
             header="{{ comentario.email }}"
             [toggleable]="true"
             [collapsed]="true">
        
        <p>{{ comentario.name | titlecase }}</p>
        <p>{{ comentario.body }}</p>
    </p-panel>

    <div class="flex justify-content-center">
        <button pButton 
                type="button" 
                label="Emitir"
                (click)="emitirFecha()">
        </button>           
    </div>

</p-panel>