<div class="flex-column p-3">

    <a routerLink="/"><i class="pi pi-arrow-left"></i></a>

    <div class="flex justify-content-between">
        <h4 class="ml-2">Detalles del Post: {{ postDetails.id }} </h4>

        <h4 *ngIf="mostrarFecha" class="mr-2">
            Ultimo comentario: {{ fecha | date: 'yyyy, MMM, dd ' }}
        </h4>
    </div>
    
    <h1> {{ postDetails.title | titlecase }} </h1>
    
    <h4> {{ postDetails.body }} </h4>
    
    <app-comentarios [postDetails]="postDetails"
        (dateEvent)="emitir()">
    </app-comentarios>

</div>