<div class="flex flex-column justify-content-center h-screen">
    <h1 class="text-center title__logo">La Post!</h1>

    <h2 class="text-center">Registrarse</h2>

    <form (ngSubmit)="createRegister()" [formGroup]="registerForm" autocomplete="off">

        <!-- Nombre -->
        <div class="col-12 md:col-4 m-auto">
            <div class="p-inputgroup flex relative">
                <span class="p-inputgroup-addon"><em class="pi pi-user"></em></span>
                <input
                    pInputText 
                    type="text" 
                    placeholder="Nombre de Usuario"
                    formControlName="username"> 
                <em 
                    *ngIf="inputCheck('username', 'valid')"
                    style="color: #00ff00" 
                    class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                </em>
            </div>

            <div class="h-1rem">
                <small *ngIf="inputCheck('username', 'invalid')" class="text-center p-error block">
                    {{ userErrorMsg }}
                </small>        
            </div>    
        </div>

        <!-- Email -->
        <div class="col-12 md:col-4 m-auto">
            <div class="p-inputgroup flex relative">
                <span class="p-inputgroup-addon"><em class="pi pi-envelope"></em></span>
                <input 
                    pInputText 
                    type="text" 
                    placeholder="Email"
                    formControlName="email">
                <em 
                    *ngIf="inputCheck('email', 'valid')"
                    style="color: #00ff00" 
                    class="pi pi-check absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                </em> 
            </div>
            <div class="h-1rem">
                <small 
                    *ngIf="inputCheck('email', 'invalid')"
                    class="text-center p-error block"> 
                        {{ emailErrorMsg }}
                </small>
            </div>     
        </div>

        <!-- Contraseña -->
        <div class="col-12 md:col-4 m-auto">
            <div class="p-inputgroup flex relative">
                <span class="p-inputgroup-addon"><em class="pi pi-lock"></em></span>
                <input 
                    pInputText
                    type="password" 
                    placeholder="Contraseña"
                    formControlName="password">
                <em 
                    *ngIf="inputCheck('password', 'valid')"
                    style="color: #00ff00" 
                    class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                </em>
            </div>
            <div class="h-1rem">
                <small 
                    *ngIf="inputCheck('password', 'invalid')"
                    class="text-center p-error block"> 
                    {{ passErrorMsg }} 
                </small>
            </div>
        </div>

        <!-- Confirmacion de contraseña -->
        <div class="col-12 md:col-4 m-auto">
            <div class="p-inputgroup flex relative">
                <span class="p-inputgroup-addon"><em class="pi pi-lock"></em></span>
                <input 
                    pInputText
                    type="password" 
                    placeholder="Repita la contraseña"
                    formControlName="password2">
                <em 
                    *ngIf="inputCheck('password', 'valid') && inputCheck('password2', 'valid')"
                    style="color: #00ff00" 
                    class="pi pi-check green-400 absolute right-0 align-self-center mr-2 z-5 scalein fadein">
                </em>
            </div>
            <div class="h-1rem">
                <small 
                    *ngIf="inputCheck('password2', 'invalid')"
                    class="text-center p-error block"> 
                        Las contraseñas no coinsiden. 
                </small>
            </div>
        </div>

        <!-- Boton submit -->
        <div class="col-12 md:col-4 m-auto max-w-full">
            <div class="p-inputgroup flex align-items-center justify-content-center">
                <button 
                    pButton 
                    [disabled]="registerForm.pending" 
                    type="submit" 
                    label="Crear usuario"></button>
            </div>
        </div>

        <!-- Mensajes y rutas -->
        <div class="col-12 md:col-4 m-auto max-w-full">
            <div class="p-inputgroup flex align-items-center justify-content-center">
                <h4>¿Ya tenes una cuenta registrada? <a routerLink="/auth/login">Ingresar</a></h4>
            </div>
        </div>

    </form>
</div>
