@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100&display=swap');


body {
    background-color: #141e2b;
    margin: 0;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}